@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lalraen Home Page</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center mb-4">
        <h1>
            <strong>Lalraen Home Page Welcomes You!</strong>
        </h1>
    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-lg">
            @Html.ActionLink("LogIn (NYI)", "Login")
        </button>
        <button class="btn btn-primary btn-lg">
            @Html.ActionLink("SignUp (NYI)", "Signup")
        </button>
    </div>
    <div class="text-center mt-lg-5">
        <button class="btn btn-info btn-lg">
            @Html.ActionLink("Home", "Main")
        </button>
    </div>
</body>
</html>