
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginForm</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body>
    <div class="text-center m-lg-5">
        <h1>NOT YET IMPLEMENTED</h1>
    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-lg active" type="button">
            @Html.ActionLink("Home", "Main")
        </button>
    </div>
</body>
</html>
