@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .btn a {
            color: white;
            text-align: center
        }
    </style>
</head>
<body>
    <div class="text-lg-center mt-lg-5">
        <button class="btn btn-secondary btn-lg">
            @Html.ActionLink("Monobank", "Monobank")
        </button>
        <button class="btn btn-secondary btn-lg">
            @Html.ActionLink("Electricity", "Electricity")
        </button>
        <button class="btn btn-secondary btn-lg">
            @Html.ActionLink("NYI", "")
        </button>
    </div>
    <div class="text-lg-center fixed-bottom">
        <button class="btn btn-dark btn-lg">
            @Html.ActionLink("Back home", "Index")
        </button>
    </div>
</body>
</html>