
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignupForm</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .btn a {
            color: white;
            text-align: center
        }
    </style>
</head>
<body>
    <div class="text-center m-lg-5"> 
        <h1>NOT YET IMPLEMENTED</h1>
    </div>
</body>
</html>
