@model LalraenMainAzureWeb.Models.MeterModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Electricity payment calculation</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<body>
    <h1 class="text-center"><strong>Calculate your electricity payment here</strong></h1>
    @using (Html.BeginForm("Calculate", "ElectricityPayment", FormMethod.Post))
    {
        <div class="text-lg-center mt-lg-5">
            <label for="LastReadings">Enter last meter readings:</label>
            <input class="text-center" id="LastReadings" type="text" placeholder="1000" size="5" />
        </div>
        <div class="text-lg-center">
            <label for="CurrentReadings">Enter current meter readings:</label>
            <input class="text-center" id="CurrentReadings" type="text" placeholder="1200" size="5" />
        </div>
    }
    <div class="text-lg-center mt-3">
        <button class="btn btn-success btn-lg">Calculate</button>
    </div>
    <div id="sumToPay" class="text-lg-center invisible">
        <label for="Sum to pay"></label>
        <p>Sum in UAH to pay: <output name="sumToPay"></output></p>
    </div>
    <div class="text-lg-center fixed-bottom">
        <button class="btn btn-danger btn-lg mb-lg-5">
            @Html.ActionLink("Main", "Main", "Home")
        </button>
    </div>
</body>
</html>